@media (max-width:600px){
    body{width: auto;
height: auto;
    }
}




#gg{

 

    margin-bottom: auto;
    margin-top: 60px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    height: 500px; 
    background: #313030;
    border-radius: 50px;
    box-shadow: 5px 5px 35px 5px white;
}


#img1{

width: 100px;
margin-left: 150px;

border-radius: 200px;

height: 100px;
}

#h1{
color: white;
box-shadow: 5px 5px 5px 5px black;
 font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


#b1{
    background: transparent;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}

#b1>h3{
    width: 100px;
    color:white;
   font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}
#b2{
    background: transparent;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}
#b2>h3{
    width: 100px;
    color:white;
   font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

#b3{
    background: transparent;
    width: 300px;
    height: 50px;
    border-radius: 30px;
}
#b3>h3{
    width: 100px;
    color:white;
   font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

#b4{
    background: transparent;
    width: 300px;
    height: 50px;
    border-radius: 30px;

}
#b4>h3{
    
    width: 150px;
    color:white;
   font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;


}

#gg>video{



    position: absolute;      /* المفتاح */
    top: 9%;
    left: 35%;

    width: 405px;
    height: 600px;
    object-fit: cover;

    border-radius: 50px;
    z-index: 0;
}







#img1,#b1,#b2,#b3,#b4,
#h1,
#ul {
    position: relative;
    z-index: 1;
}



  
  







   
    
    
    